
body{
    font-family: 'Spartan', sans-serif;
    
}


.mydiv{


}

.mycontainer{


}

.mynav{


}

.navbar-brand{
    font-size: 30px;
    font-weight: 800;
}

.mylink{
   font-size: 20px;
font-weight: 500;
    color: gray;
    margin: 10px;
   margin-left: 20px;

}

.mybtn{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-decoration: none;
position: relative;
overflow: hidden;
display: inline-block;
border: none;
background-color: red;
text-align: center;
padding: 13px 20px 13px 20px;
margin-left: 40px;  
}

.myschrift{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -.3rem;
}

.mypara{
    color: gray;
    font-size: 25px;

}

.myimg{
    margin-left: 390px;
}

.myicon1{
    color: yellow;
}

.myschreiben{
    font-size: 20px;
    font-weight: 700;
    
    color: #2C2C4B;
}

.myparagraf{
    font-size:18px ;
font-weight: 500;

color: #7C7C8E;
margin-top: 0;
margin-bottom: 1rem;
}

.myicon2{
    color: red;
}

.myicon3{
    color: #21EB8A;
}

.myicon4{
    color: #ED50E8;
}

.myicon5{
    color: #35CCFF;
}

.myicon6{
    color: #7E57FF;
}

.mybutton1{
margin-top: .7rem;
margin-left: 500px;
 color: white;
 text-decoration: none;
 position: relative;
overflow: hidden;
display: inline-block;


text-align: center;
padding: 15px 40px 15px 40px;
}

.mybutton2{
text-decoration: none; 
color: #5B5B71;
margin-top: .7rem;
margin-right: .7rem;
position: relative;
overflow: hidden;
display: inline-block;
border: none;
background-color: transparent;
text-align: center;
padding: 15px 40px 15px 40px;
margin-left: 20px;
}